[user]
	name = Sascha Depold
	email = sascha@depold.com

[alias]
		co = checkout
		st = status
		br = branch
		pls = "!git pull && git push"
		unstage = reset HEAD --
		l = log --pretty=format:'%h %an %Cred%ar %Cgreen%s'
		cp = cherry-pick
		uncommit = reset --soft HEAD^
		incl = branch --contains

[apply]
		whitespace = nowarn

[core]
		excludesfile = /Users/sdepold/.gitignore

[push]
	default = tracking

[http]
	proxy =
